<h2>Template {{index}}</h2>
<div>
    <label for=name-{{&cid}}>Name:</label>
    <input id=name-{{&cid}} value={{name}}>
</div>
<div>
    <button type=submit>Render</button>
    <button type=reset>Clear output</button>
    <button type=button class=danger>Remove</button>
</div>
<pre class=language-txt><code class=language-txt></code></pre>
