/**
 * Stylesheet originally based on juliangonggrijp.com, customized for the
 * Wontache project.
 */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Palatino, Palatino Linotype, Georgia, serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 1ex;
}

body, textarea, input, button, a {
    color: #444;
}

body {
    background-color: #f8f8f8;
}

h1, h2, h3, h4, legend, button {
    font-family: Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, button.more {
    margin-bottom: 1.5em;
    margin-top: 2em;
}

h2, legend {
    font-size: 27px;
    line-height: 27px;
}

table {
    border-collapse: collapse;
}

tr.odd {
    background-color: #eee;
}

td, th {
    border: 1px dotted #444;
    padding: .5ex;
}

p {
    margin: 1em 0;
}

li {
    margin-left: 2em;
    margin-top: 1ex;
}

code, textarea, input {
    font-family: Courier New, Courier, monospace;
}

form > *:not(:first-child) {
    margin-top: 1ex;
}

form > div > *:not(:first-child), fieldset > div > *:not(:first-child) {
    margin-left: 1ex;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset textarea {
    min-height: 5em;
    max-height: calc(max(5em, 50vh));
}

input {
    padding: .5ex 1ex;
    border-radius: .5ex;
    box-shadow: inset 0 0 .5ex #ccc;
}

button {
    padding: 1ex;
    border-radius: .5ex;
    background-color: #ccc;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #9ae;
}

button.danger {
    float: right;
    background-color: #f89;
}

label {
    font-weight: bold;
}

label.help {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

@media (min-width: 620px) {
    body {
        width: 600px;
        margin: 1ex calc(50% - 300px);
    }
}

@media (max-width: 530px) {
    body {
        font-size: 15px;
        line-height: 19px;
    }

    h2 {
        font-size: 18px;
        line-height: 18px;
    }
}

/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript&plugins=normalize-whitespace */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 * (customized for the Wontache project)
 */

code[class*="language-"],
pre[class*="language-"],
textarea, input {
    background: none;
    text-shadow: 0 1px white;
    font-size: 16px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

textarea, input {
    background: #fdfdfd;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
textarea ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection,
textarea ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"],
    textarea, input {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"], textarea {
    padding: 1ex 2ex;
    border-radius: 1ex;
    box-shadow: inset 0 0 1ex #ccc;
    overflow: scroll;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

/**
 * Syntax highlighting based on a merger of the above two stylesheets.
 */

.token.bold,
.token.boolean,
.token.keyword,
.token.operator,
.token.punctuation,
.token.tag {
    font-weight: bold;
}

.token.attr-name,
.token.italic,
.token.property,
.token.variable {
    font-style: italic;
}

.token.boolean,
.token.builtin,
.token.constant,
.token.symbol {
    color: #8800aa;
}

.token.function {
    color: #cc0077;
}

.token.number {
    color: #00af20;
}

.token.string {
    color: #ff4000;
}

.token.entity {
    color: #00bfff;
}

.token.regex {
    color: #bf2000;
}

.token.comment {
    color: #808080;
}

/* These classes are available, but not used. */
.token.atrule,
.token.attr-value,
.token.cdata,
.token.char,
.token.class-name,
.token.deleted,
.token.doctype,
.token.important,
.token.inserted,
.token.namespace,
.token.prolog,
.token.selector,
.token.url {}

/**
 * Dark mode support.
 */
@media (prefers-color-scheme: dark) {
    body, textarea, input, button, a {
        color: #ccc;
    }

    body {
        background-color: #171717;
    }

    tr.odd {
        background-color: #333;
    }

    td, th {
        border: 1px dotted #ccc;
    }

    code[class*="language-"],
    pre[class*="language-"],
    textarea, input {
        text-shadow: 0 1px black;
    }

    textarea, input {
        background: #111;
    }

    input {
        box-shadow: inset 0 0 .5ex #555;
    }

    button {
        background-color: #555;
    }

    button[type="submit"] {
        background-color: #347;
    }

    button.danger {
        background-color: #734;
    }

    pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
    textarea ::-moz-selection {
        text-shadow: none;
        background: #3b6cb1;
    }

    pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
    code[class*="language-"]::selection, code[class*="language-"] ::selection,
    textarea ::selection {
        text-shadow: none;
        background: #3b6cb1;
    }

    pre[class*="language-"], textarea {
        box-shadow: inset 0 0 1ex #555;
    }

    .token.boolean,
    .token.builtin,
    .token.constant,
    .token.symbol {
        color: #8500cc;
    }

    .token.function {
        color: #ff0c87;
    }

    .token.number {
        color: #00cc14;
    }

    .token.string {
        color: #ff6318;
    }

    .token.entity {
        color: #0098cc;
    }

    .token.regex {
        color: #d92b00;
    }

    .token.comment {
        color: #666;
    }
}
