<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mustache playground</title>
    <link rel=stylesheet href="index.css">
</head><body>
    <h1 id="mustache-playground">Mustache playground</h1>
    <p>Below, you can define input data and one or more <a href="http://mustache.github.io/">Mustache</a> templates. Pressing the “Render” button below a template reveals the result of that template, given your input.</p>
    <p>You can use any single JavaScript expression as input, including nested objects and methods. Naming templates is <strong>optional</strong>. Doing so enables you to interpolate the named template inside other templates using <code>{{&gt;partial}}</code> or <code>{{&lt;parent}}{{/parent}}</code> tags. (You can also interpolate a template inside itself, but you must be careful to prevent infinite recursion in that case.)</p>
    <p>You can save the entire session in textual form to your clipboard by clicking/tapping in the box below and using your operating system’s “copy” feature (ctrl-c, cmd-c, etcetera). You can also restore an existing savestate by pasting into the box.<br>
    <input id=loadstore placeholder="load/store"><br>
    <em>Tip: template numbering might change after a store-load cycle. Use names to refer to individual templates.</em></p>
    <p>This playground is backed by version 0.2.0 of the <a href="index.html">Wontache</a> engine, which fully passes version 1.3.0 of the <a href="https://github.com/mustache/spec">Mustache specification</a>, including all optional modules. This means that you can use all template syntax described in the <a href="mustache.5.html">updated <code>mustache(5)</code> manpage</a>. The source code of the playground is <a href="https://gitlab.com/jgonggrijp/wontache/-/tree/integration/playground">here</a>.</p>
    <main></main>
    <script src="./playground.js"></script>
    <script src="prism.js"></script>
</body></html>