{{!
    Example template for the purpose of testing precompilation in
    ../mustache-test.coffee. It will be saved to a .js file which is in turn
    imported in the test module. It exercises a range of different tag types to
    reassure us that precompiled templates behave like just-in-time compiled
    templates.
}}
 * {{x}}
 * {{y}}
 * {{#a}}{{{x}}}{{/a}}
   {{#a}}
   {{#b}}
{{$block}}
 * {{&x}}
   {{=. .=}}
   .! this will be removed .
        .> boldX .

 * .#c..z../c.
./block.
   ./b.
   ./a.
