{{#name}}
{{name}}<br>
{{/name}}
{{^name}}
{{#last_name}}
{{last_name}}{{#first_name}}, {{/first_name}}{{^first_name}}<br>{{/first_name}}
{{/last_name}}
{{#first_name}}
{{first_name}}<br>
{{/first_name}}
{{/name}}
{{#address}}
{{address}}<br>
{{/address}}
{{#zip_code}}
{{zip_code}}{{^city}}<br>{{/city}}
{{/zip_code}}
{{#city}}
{{city}}<br>
{{/city}}
{{#planet}}
{{planet}}
{{/planet}}
