{{#if name}}
{{name}}<br>
{{else}}
{{#if last_name}}
{{last_name}}{{#if first_name}}, {{else}}<br>
{{/if}}
{{/if}}
{{#if first_name}}
{{first_name}}<br>
{{/if}}
{{/if}}
{{#if address}}
{{address}}<br>
{{/if}}
{{#if zip_code}}
{{zip_code}}{{#unless city}}<br>{{/unless}}
{{/if}}
{{#if city}}
{{city}}<br>
{{/if}}
{{#if planet}}
{{planet}}
{{/if}}
