<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invoice for your order {{order_id}}&mdash;{{company}}</title>
    <link rel="stylesheet" href="invoice.css">
</head>
<body>
    <header>
        {{#with contact}}
        <aside id=contact>
            <address>
                {{>address-base}}
                {{>address-extra}}
            </address>
        </aside>
        <h1>{{name}}</h1>
        {{/with}}
        <h2>Invoice</h2>
        {{#with recipient}}
        <section id=recipient>
            <h3>Address</h3>
            <address>
                {{>address-base}}
            </address>
        </section>
        {{/with}}
    </header>
    <main>
        <section id=preamble>
            <dl>
                {{#with recipient}}
                <div>
                    <dt>Client number</dt>
                    <dd>{{client_id}}</dd>
                </div>
                {{/with}}
                <div>
                    <dt>Order number</dt>
                    <dd>{{order_id}}</dd>
                </div>
                {{#with date}}
                <div>
                    <dt>Date</dt>
                    <dd>
                        {{>date}}
                    </dd>
                </div>
                {{/with}}
            </dl>
        </section>
        <section id=specification>
            <table>
                <thead>
                    <tr>
                        <th scope=col>No.</th>
                        <th scope=col>Description</th>
                        <th scope=col>Warranty until</th>
                        <th scope=col>Amount</th>
                        <th scope=col>Price</th>
                        <th scope=col>VAT</th>
                        <th scope=col>Total incl. VAT</th>
                    </tr>
                </thead>
                {{#each deliveries}}
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            Delivery no. {{delivery_id}}<br> {{#with date}}on
                            {{>date}}
                            <br>{{/with}} {{#with shipped_to}}to
                            <address class="inline">
                                {{>address-inline}}
                            </address>
                            {{/with}}
                            {{#unless delivered}}
                            <br><em>We missed you! We will try again.</em>
                            {{/unless}}
                        </td>
                        <td colspan=5></td>
                    </tr>
                    {{#each shipping_list}}
                    <tr>
                        <td>{{article_id}}</td>
                        <td>{{description}}</td>
                        <td>{{#if ../delivered}}{{#with warranty}}
                            <time datetime="{{iso}}">{{iso}}</time>
                        {{/with}}{{else}}
                            N/A
                        {{/if}}</td>
                        <td>{{amount}}</td>
                        <td>{{price}}</td>
                        <td>{{vat}}%</td>
                        <td>{{subtotal}} {{@root.currency}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                {{/each}}
                <tfoot>
                    <tr>
                        <th scope=row>TOTAL</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{total_vat_amount}}</td>
                        <td>{{total_amount}} {{currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </section>
        <section id=request>
            <p>
                Please transfer the indicated amount of
                <strong>{{total_amount}} {{currency}}</strong>
                to
                <strong>{{IBAN}}</strong>
                {{#with pay_before}}
                before <strong>
                    {{>date}}
                </strong>
                {{/with}}.
            </p>
        </section>
    </main>
    <footer>
        <p>
            Our general terms of service apply to every transaction.<br>
            See
            <a href="{{{TOS}}}">{{{TOS}}}</a>.
        </p>
    </footer>
</body>
</html>
