* {
    font-family: Arial;
    font-style: normal;
    font-size: 12pt;
    line-height: 1.2;
    color: #334;
    border: 0;
    padding: 0;
    margin: 0;
}

em, i, header h2 {
    font-style: italic;
}

body {
    max-width: 20cm;
    padding: 2cm;
    background-color: #fffcf8;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 16pt;
}

#contact {
    float: right;
    text-align: right;
}

#recipient, #preamble {
    padding-left: 1cm;
}

section, footer {
    margin-top: 2em;
}

dl {
    display: table;
}

dl div {
    display: table-row;
}

dt, dd {
    display: table-cell;
}

dl *, table *, aside address, aside address *, footer * {
    font-size: 10pt;
}

dt, dd, th, td {
    padding: .25em 1em .25em 0;
}

dt {
    padding-right: 2em;
}

table {
    border-collapse: collapse;
}

.inline {
    display: inline;
}

tbody tr:first-child, tfoot tr:first-child {
    background-color: #ddd;
}

th:first-child, td:first-child {
    padding-left: .25em;
}

th:last-child, td:last-child {
    padding-right: .25em;
}

th {
    text-align: left;
}

tfoot td {
    font-weight: bold;
}

td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
    text-align: right;
}

footer {
    margin-top: 4em;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #ddc;
    }
    body {
        background-color: #111;
    }
    tbody, tfoot {
        border-top-color: #ddc;
    }
    tbody tr:first-child, tfoot tr:first-child {
        background-color: #333;
    }
}

@media print {
    * {
        color: #000;
    }
    body {
        background-color: #fff;
    }
    tbody, tfoot {
        border-top-color: #000;
    }
    tbody tr:first-child, tfoot tr:first-child {
        background-color: #eee;
    }
}
